.google-visualization-controls-categoryfilter .charts-menu-button.charts-menu-button-hover, .google-visualization-controls-categoryfilter .charts-menu-button, .google-visualization-controls-categoryfilter .charts-menu-button.charts-menu-button-active {
	font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    color: #4F4F4F;
    border: 1px solid #B6B6B6;
	background-color: buttonface;
    box-sizing: border-box;
    border-radius: 3px;
    background: #ededed url(images/bg_fallback.png) 0 0 repeat-x;
    background: -moz-linear-gradient(top, #ededed 0%, #c4c4c4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c4c4c4));
    background: -webkit-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
    background: -o-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
    background: -ms-linear-gradient(top, #ededed 0%,#c4c4c4 100%);
    background: linear-gradient(top, #ededed 0%,#c4c4c4 100%);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset;
    min-width: 0;
}

div.charts-menu-button-dropdown {
    padding-top: 2px;
    margin-left: 5px;
}

.google-visualization-table-td {
	font-family: Arial,sans-serif;
    font-size: 14px;
}